In [1]:
import pyodbc

In [2]:
import pandas as pd

In [3]:
connection = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-GPS9010\SQLEXPRESS;'
                      'Database=Patient Registration ;')

In [4]:
cursor = connection.cursor()

In [5]:
cursor.execute('SELECT * FROM Patient_Info')
for i in cursor:
    print(i)

(1, 'Ali', 'M', 12507384957, 'Ontario', '2022-07-04')
(2, 'Salima', 'F', 12506482904, 'British Columbia', '2022-07-06')
(3, 'Ahmed', 'M', 12507483947, 'Ontario', '2022-07-06')
(4, 'Sania', 'F', 12502748001, 'Ontario', '2022-07-07')
(5, 'Sana', 'F', 12505832224, 'Ontario', '2022-07-08')
(6, 'Imran', 'M', 12505099922, 'British Columbia', '2022-07-12')
(7, 'Rizwan', 'M', 12505992244, 'Ontarioo', '2022-08-12')
(8, 'Sara', 'F', 12505992343, 'Ontario', '2022-08-12')
(9, 'Alisha', 'F', 12505998573, 'British Columbia', '2022-08-13')
(10, 'Yasmeen', 'F', 12505998239, 'British Columbia', '2022-08-14')

In [6]:
cursor.execute('SELECT * FROM Partner_Partner_Mapping')
for i in cursor:
    print(i)

(1, 1, 4)
(2, 2, 3)
(3, 3, 2)
(4, 4, 1)
(5, 5, 6)
(6, 6, 5)
(7, 7, 8)
(8, 8, 7)

In [7]:
cursor.execute('SELECT * FROM Patient_Info')
cursor.fetchone()

(1, 'Ali', 'M', 12507384957, 'Ontario', '2022-07-04')

In [8]:
cursor.execute('SELECT * FROM Partner_Partner_Mapping')
cursor.fetchall()

[(1, 1, 4),
 (2, 2, 3),
 (3, 3, 2),
 (4, 4, 1),
 (5, 5, 6),
 (6, 6, 5),
 (7, 7, 8),
 (8, 8, 7)]

In [9]:
cursor.execute('SELECT * FROM Patient_Info')
rows = cursor.fetchall()

In [10]:
for i in rows:
    print(i)

(1, 'Ali', 'M', 12507384957, 'Ontario', '2022-07-04')
(2, 'Salima', 'F', 12506482904, 'British Columbia', '2022-07-06')
(3, 'Ahmed', 'M', 12507483947, 'Ontario', '2022-07-06')
(4, 'Sania', 'F', 12502748001, 'Ontario', '2022-07-07')
(5, 'Sana', 'F', 12505832224, 'Ontario', '2022-07-08')
(6, 'Imran', 'M', 12505099922, 'British Columbia', '2022-07-12')
(7, 'Rizwan', 'M', 12505992244, 'Ontarioo', '2022-08-12')
(8, 'Sara', 'F', 12505992343, 'Ontario', '2022-08-12')
(9, 'Alisha', 'F', 12505998573, 'British Columbia', '2022-08-13')
(10, 'Yasmeen', 'F', 12505998239, 'British Columbia', '2022-08-14')

In [11]:
cursor.execute('SELECT * FROM Partner_Partner_Mapping')
rows = cursor.fetchall()

In [12]:
for i in rows:
    print(i)

(1, 1, 4)
(2, 2, 3)
(3, 3, 2)
(4, 4, 1)
(5, 5, 6)
(6, 6, 5)
(7, 7, 8)
(8, 8, 7)

In [13]:
df = pd.read_sql_query('SELECT * FROM Patient_Info', connection)
print(df)

   Patient_ID Patient_Name Patient_Gender  Patient_Phone          Province  \
0           1          Ali              M    12507384957           Ontario
1           2       Salima              F    12506482904  British Columbia
2           3        Ahmed              M    12507483947           Ontario
3           4        Sania              F    12502748001           Ontario
4           5         Sana              F    12505832224           Ontario
5           6        Imran              M    12505099922  British Columbia
6           7       Rizwan              M    12505992244          Ontarioo
7           8         Sara              F    12505992343           Ontario
8           9       Alisha              F    12505998573  British Columbia
9          10      Yasmeen              F    12505998239  British Columbia

   Created_at
0  2022-07-04
1  2022-07-06
2  2022-07-06
3  2022-07-07
4  2022-07-08
5  2022-07-12
6  2022-08-12
7  2022-08-12
8  2022-08-13
9  2022-08-14

In [14]:
df = pd.read_sql_query('SELECT * FROM Partner_Partner_Mapping', connection)
print(df)

   Patient_Partner_ID  Patient_ID  Partner_ID
0                   1           1           4
1                   2           2           3
2                   3           3           2
3                   4           4           1
4                   5           5           6
5                   6           6           5
6                   7           7           8
7                   8           8           7